<div class="container">
  <div class="row">
    <div class="card">
      <img class="image-size" src="./assets/images/image-qr-code.png" alt="" />
      <div>
        <h2 class="qr-heading-text">
          Scan QR Code To Get Easy Access to Our Website
        </h2>
        <p class="qr-desc-text">
          Access our website and find some exciting information about polishing
          your digital skills and many more for fun.
        </p>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
